<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.699544</real>
		<key>longitude</key>
		<real>-80.297055</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.698612</real>
		<key>longitude</key>
		<real>-80.29201500000001</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.939942</real>
		<key>longitude</key>
		<real>-80.341607</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.939221</real>
		<key>longitude</key>
		<real>-80.34989899999999</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.944992</real>
		<key>longitude</key>
		<real>-80.34658899999999</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>27.938951</real>
		<key>longitude</key>
		<real>-82.492018</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>27.944691</real>
		<key>longitude</key>
		<real>-82.48961</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>28.355484</real>
		<key>longitude</key>
		<real>-81.55574</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>28.350659</real>
		<key>longitude</key>
		<real>-81.56617199999999</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>28.359252</real>
		<key>longitude</key>
		<real>-81.55585499999999</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>25.696395</real>
		<key>longitude</key>
		<real>-80.297496</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>28.361094</real>
		<key>longitude</key>
		<real>-81.55401500000001</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>28.357053</real>
		<key>longitude</key>
		<real>-81.557258</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>28.36085</real>
		<key>longitude</key>
		<real>-81.569106</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>28.361856</real>
		<key>longitude</key>
		<real>-81.562271</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>28.360869</real>
		<key>longitude</key>
		<real>-81.568145</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>28.358443</real>
		<key>longitude</key>
		<real>-81.56147199999999</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>28.355205</real>
		<key>longitude</key>
		<real>-81.569047</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>28.356997</real>
		<key>longitude</key>
		<real>-81.562355</real>
	</dict>
</array>
</plist>
